{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeebGameStop Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type='text/css' href="{% static "app/css/globle.css" %}" >
        
        <link rel="stylesheet" type='text/css' href= "{% static "app/css/styleBlog.css" %}" >
        <link rel="stylesheet" type='text/css' href= "{% static "app/css/nav2.css" %}" >
        <link rel="stylesheet" type='text/css' href= "{% static "app/css/blog1.css" %}" >
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" 
    referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    

</head>
{% block main-content%}{%endblock main-content%}
<footer>
    <section class="footersec container flex">
        <div class="footerh2 flex">
            <h2>about&nbsp;<span>us</span></h2>
            <h2>latest&nbsp;<span>news</span></h2>
            <h2>apps&nbsp;<span>& platforms</span></h2>
        </div>
        <div class="flex footermenu">
            <div class="faboutus">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat doloribus voluptates, possimus quos dolorem animi sit nulla cumque eaque ipsa.</p>
                <div class="flex">
                    <ul class="flex">
                        <li><a href="/"><i class="fa-solid fa-caret-right"></i>Home</a></li>
                        <li><a href="/"><i class="fa-solid fa-caret-right"></i>Blog</a></li>
                        <li><a href="/"><i class="fa-solid fa-caret-right"></i>Games</a></li>
                        <li><a href="/"><i class="fa-solid fa-caret-right"></i>About</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href="/"><i class="fa-solid fa-caret-right"></i>Team</a></li>
                        <li><a href="/"><i class="fa-solid fa-caret-right"></i>Community</a></li>
                        <li><a href="/"><i class="fa-solid fa-caret-right"></i>eSport</a></li>
                        <li><a href="/"><i class="fa-solid fa-caret-right"></i>Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="latestnews">
                <div class="fnews flex">
                    <div class="fnewscard flex">
                        <img src="{% static 'app/img/blognews1.jpg'%}" alt="">
                        <div class="fnewsdetails">
                            <h4>about space and world</h4>
                            <p><i class="fa-regular fa-clock"></i><span>September 11, 2023</span></p>
                        </div>
                    </div>
                    <div class="fnewscard flex">
                        <img src="{% static 'app/img/blognews2.jpg' %}" alt="">
                        <div class="fnewsdetails">
                            <h4>about space and world</h4>
                            <p><i class="fa-regular fa-clock"></i><span>September 11, 2023</span></p>
                        </div>
                    </div>
                    <div class="fnewscard flex">
                        <img src="{% static 'app/img/blognews3.jpg' %}" alt="">
                        <div class="fnewsdetails">
                            <h4>about space and world</h4>
                            <p><i class="fa-regular fa-clock"></i><span>September 11, 2023</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="appsec">
                <div class="platform flex">
                    <div class="apps flex">
                        <i class="fa-brands fa-apple"></i>
                        <div class="appde">
                            <h4>Buy now via</h4>
                            <h4>Apple Store</h4>
                        </div>
                    </div>
                    <div class="apps flex">
                        <i class="fa-brands fa-google-play"></i>
                        <div class="appde">
                            <h4>Buy now via</h4>
                            <h4>Google Play</h4>
                        </div>
                    </div>
                    <div class="apps flex">
                        <i class="fa-brands fa-steam"></i>
                        <div class="appde">
                            <h4>Buy now via</h4>
                            <h4>Steam</h4>
                        </div>
                    </div>
                    <div class="apps flex">
                        <i class="fa-brands fa-windows"></i>
                        <div class="appde">
                            <h4>Buy now via</h4>
                            <h4>windows</h4>
                        </div>
                    </div>
                    <div class="apps flex">
                        <i class="fa-brands fa-amazon"></i>
                        <div class="appde">
                            <h4>Buy now via</h4>
                            <h4>Amezon</h4>
                        </div>
                    </div>
                    <div class="apps flex">
                        <i class="fa-brands fa-paypal"></i>
                        <div class="appde">
                            <h4>Buy now via</h4>
                            <h4>Paypal</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="copyrightsec flex">
        <div class="copyright container flex">
            <div class="flex">
                <h2>code<span>xgame</span></h2>
                <p>Copyright &copy; 2023 Codingwebstudio - All rights reserved.</p>
            </div>
            <ul class="flex">
                <li><a href="/" class="factive">Home</a></li>
                <li><a href="/">Help Center</a></li>
                <li><a href="/">Contact</a></li>
                <li><a href="/">Career</a></li>
                <li><a href="/">Advertise</a></li>
                <li><a href="/">Terms and Conditions</a></li>
            </ul>
        </div>
    </section>
</footer>
<script src="{% static "app/js/script2.js" %}"></script>
<script>
    AOS.init();
  </script>
</body>
</html>
