@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Titillium+Web:wght@900&display=swap');



body {
    background-color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
}

/*top*/
.top{
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 99;
    
    }
.top::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    transform: translateY(-100%);
    transition: var(--smooth);
    
   
}
.active2.top::before{
    transform: translateY(0);
    transition: var(--smooth);
    
}    
.nav1 {
    width: 100%;
    justify-content: end;
    padding: 30px;
    padding-bottom: 10px;
    gap: 30px;
}

/*search bar*/
.icons .search-box{
    gap: 20px;
}
.icons .search-box .input-box{
    transition: all 0.4s ease;
    right: 80px;
    pointer-events: none;
    opacity: 0;
    pointer-events: none;
}
.showInput .search-box .input-box {
    right: 65px;
    transition: all 0.4s ease;
    pointer-events: auto;
    opacity: 1;
    
}
.icons .search-box .input-box input{
    height: 35px;
    width: 280px;
    
    z-index: 98;
    
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
}

.icons {
    gap: 18px;
    z-index: 2;
}

.icons i {
    color: #fff;
    cursor: pointer;
}

.icons i:hover {
    color: var(--main-color);
}
#logout{
    transform: translateX(10px);
}
#username{
    color: var(--main-color) ;
    font-weight: bold;
}
.lsbtn button {
    border: none;
    color: #fff;
    background-color: var(--main-color);
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 600;
    z-index: 2;
    transition: 0.3s linear;
    cursor: pointer;
}

.lsbtn button:nth-child(1) {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 1px solid #999;
  }
  
  .lsbtn button:nth-child(2) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }



.lsbtn button:hover {
    background-color: #fff;
    color: black;
}

.mainnav {
    justify-content: space-between;
}

.logo {
    margin-left: -50px;
    margin-top: -30px;
    z-index: 2;
    transform: translateX(30px);
}

.logo h1 a {
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    transition: 0.3s linear;
}

.logo h1 a span {
    color: var(--main-color);
}

.logo h1 a:hover {
    color: var(--main-color);
}

.logo h1 a:hover span {
    color: #fff;
}

.navlist {
    z-index: 2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.navlist ul {
    gap: 40px;
}

.navlist ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s linear;
}

.navlist ul li .active {
    color: var(--main-color);
}

.navlist ul li a i {
    margin-left: 5px;
    font-size: 10px;
}

.navlist ul li a:hover {
    color: var(--main-color);
}
/*dropdrown*/

.lis {
    background-color: #000000;
    display: none;
    padding: 20px ;
    gap: 10px;
    font-size: larger;
    text-shadow: 5px 5px 10px black;
    transition: all 0.4s ease;
}
.dropdown {
    padding: 5px ;
    list-style: none;
    z-index: -2;
    position: absolute;
    
}
.uls:hover .lis {
    display: block;
    transform: translateX(-30px);
    transition: all 0.4s ease;
}
.headercont {
    padding-top: 13rem;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.labels {
    gap: 20px;
    z-index: 2;
}

.labels i {
    color: #ffc311ff;
    font-size: 16px;
    margin-right: 8px;
}

.labels h3 {
    gap: 5px;
}

.labels h3 a {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

.labels h3 span {
    color: #fff;
    font-weight: 400;
}

.labels h3 a:hover {
    color: var(--main-color);
}


.headercont h1 {
    font-family: var(--font-family);
    z-index: 2;
    font-size: 4.6vw;
    font-weight: 900;
    color: #fff;
}

.headercont p {
    z-index: 2;
    text-align: center;
    color: #ffffffc7;
}

.headbtn {
    z-index: 2;
    margin: 60px 0;
    gap: 50px;
}

.button {
    height: 50px;
    width: 150px;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border-bottom: 2px solid var(--main-color);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    box-shadow: 0.5px 0.5px 150px #252525;
}

.type1::after,
.type2::after {
    content: 'CLICK';
    height: 50px;
    width: 150px;
    background-color: var(--main-color);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.type1::before,
.type2::before {
    content: 'GAME DETAILS';
    height: 50px;
    width: 150px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0px) scale(1.2);
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
}

.type2::before {
    content: 'BUY NOW';
}

.type1:hover::after,
.type2:hover::after {
    transform: translateY(0) scale(1.2);
}

.type1:hover::before,
.type2:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
}

.dots {
    z-index: 2;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    gap: 13px;
}

.dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    transition: 0.2s linear;
    cursor: pointer;
}

.dot:hover {
    background-color: #fff;
}