{%extends 'app/base.html'%}
{%load  static  %}
{% block main-content%}
<header><div class="headercont container flex" >
    <div class="labels flex">
        <div class="flex">
            <i class="fa-solid fa-tv"></i>
            <h3 class="flex">
                
            </h3>
        </div>
        <div class="flex">
            <i class="fa-solid fa-tags"></i>
            <h3 class="flex">
                <a href="{% url 'category' %}?category=action">ACTION</a>
                <span>,</span>
                <a href="{% url 'category' %}?category=advanture">ADVANTURE</a>
            </h3>
        </div>
    </div>
    <h1 id="header_title">EGYPT AND WORLD</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, minima. Illo, inventore ad? Itaque unde,
        aliquid perferendis temporibus facere delectus qui dolores id esse assumenda aut corporis, magni modi
        tenetur.</p>
    <div class="headbtn flex">
        <a href="/" id="d_btn1"><button class="button type1"></button></a>
        <a href="/" id="d_btn1"><button class="button type2"></button></a>
    </div>
</div>
<div class="dots flex">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</div> 
</header>
<!-- our game-->
    <div class="threebox container flex">
        <div class="cbox" data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="linear">
            <img src={% static 'app/img/box-1-bg.jpg'%} alt="title">
            <div class="cboxde">
                <h5>OUR ALL GAMES</h5>
                <h2>ACTION</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias harum ipsa modi soluta nam error
                    deleniti neque impedit earum omnis.</p>
                <a href="{% url 'category' %}?category=action">All GAMES</a>
            </div>
        </div>
        <div class="cbox" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear">
            <img src={%static 'app/img/box-2-bg.jpg'%} alt="title">
            <div class="cboxde">
                <h5>OUR ALL GAMES</h5>
                <h2>ADVANTURE</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias harum ipsa modi soluta nam error
                    deleniti neque impedit earum omnis.</p>
                <a href="{% url 'category' %}?category=advanture">All GAMES</a>
            </div>
        </div>
        <div class="cbox" data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="linear" >
            <img src={%static 'app/img/box-3-bg.jpg'%} alt="title">
            <div class="cboxde">
                <h5>OUR ALL GAMES</h5>
                <h2>RACING</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias harum ipsa modi soluta nam error
                    deleniti neque impedit earum omnis.</p>
                <a href="{% url 'category' %}?category=racing">All GAMES</a>
            </div>
        </div>
    </div>
<!-- menu-->
<section class="menu">
    <div class="menu_item_content active2" id="all">
     <div class="gamecards container flex">
        {%for p in products %}
        <div class="card" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
            <div class="cardimg">
                {%if p.img%}
                <a href="{% url 'detail'%}?id={{p.id}} ">
                    <img src="{{p.img.url}}" alt="">
                </a>
                {%else%}
                <a href="/">
                    <img src="{%static 'app/img/favicon.png'%}" alt=""> <!-- ảnh lỗi-->
                </a>
                {%endif%}
                <div class="tegs">
                    
                    <a href="/">{{p.category}}</a>
                    
                    <i class="fa-solid fa-tags"></i>
                </div>
                
            </div>
            <div class="cardinfo">
                <h2>{{p.name}}</h2>
                <div class="playteg flex">
                    <i class="fa-solid fa-tv"></i>
                    <h3 class="flex">
                        
                        <a href="/">{{p.publisher}}</a>
                        <span>,</span>
                        
                    </h3>
                </div>
                <p>{{p.description}}</p>
            </div>
        </div>
        {%endfor%}


</section>
<div class="allgamebtn flex container">
    <a href="{% url 'index' %}">
        <button>ALL GAMES</button>
    </a>
</div>
<div class="gameshop container2 flex">
    
    <div class="shopcards flex slider-wrapper" >
        <button id="prev-slide" class="slide-button material-symbols-rounded">
            chevron_left
        </button>
    </div>
</div>

<div class="newrelesed flex">
    <div class="container" data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="linear" >
        <div class="newretitle" >
            <h2>Join Our</h2>
            <h2>Community!</h2>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, debitis dolorum nostrum laudantium odio
            blanditiis repudiandae autem. Culpa cum numquam voluptates consequatur saepe similique? Ea
            repudiandae quo culpa corporis officiis?</p>
        <div class="flex">
            <a href="{% url 'community' %}">read more</a>
            <a href="/">join now</a>
        </div>
    </div>
</div>
<div class="featuredgames container flex">
    <h2>featured&nbsp;<span>games</span></h2>
    <div class="fgamescards flex">
        <div class="fcard" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
            <img src={%static 'app/img/spacewars.jpg' %} alt="">
            <div class="fcarddetails">
                <h2>space wars</h2>
                <div class="tegs2 flex">
                    <div class="teg flex">
                        <i class="fa-solid fa-tv"></i>
                        <h3 class="flex">
                            
                        </h3>
                    </div>
                    <div class="teg flex">
                        <i class="fa-solid fa-tags"></i>
                        <h3 class="flex">
                            <a href="{% url 'category' %}?category=advanture">advanture</a>
                            <a href="{% url 'category' %}?category=fps">fps</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="fhovercont">
                <h2>space wars</h2>
            </div>
        </div>
        <div class="fcard" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
                <img src={%static 'app/img/cyberpunk.jpg'%} alt="">
            <div class="fcarddetails">
                <h2>cyberpunk</h2>
                <div class="tegs2 flex">
                    <div class="teg flex">
                        <i class="fa-solid fa-tv"></i>
                        <h3 class="flex">
                            
                        </h3>
                    </div>
                    <div class="teg flex">
                        <i class="fa-solid fa-tags"></i>
                        <h3 class="flex">
                            <a href="{% url 'category' %}?category=advanture">advanture</a>
                            <a href="{% url 'category' %}?category=fps">fps</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="fhovercont">
                <h2>cyberpunk</h2>
            </div>
        </div>
        <div class="fcard" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
            <img src={%static 'app/img/the-witcher-1.jpg' %} alt="">
            <div class="fcarddetails">
                <h2>the worrior 3</h2>
                <div class="tegs2 flex">
                    <div class="teg flex">
                        <i class="fa-solid fa-tv"></i>
                        <h3 class="flex">
                            
                        </h3>
                    </div>
                    <div class="teg flex">
                        <i class="fa-solid fa-tags"></i>
                        <h3 class="flex">
                            <a href="{% url 'category' %}?category=advanture">advanture</a>
                            <a href="{% url 'category' %}?category=fps">fps</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="fhovercont">
                <h2>the worrior 3</h2>
            </div>
        </div>
        <div class="fcard" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
            <img src={%static 'app/img/gta-5.jpg' %} alt="">
            <div class="fcarddetails">
                <h2>Gta 5</h2>
                <div class="tegs2 flex">
                    <div class="teg flex">
                        <i class="fa-solid fa-tv"></i>
                        <h3 class="flex">
                         
                        </h3>
                    </div>
                    <div class="teg flex">
                        <i class="fa-solid fa-tags"></i>
                        <h3 class="flex">
                            <a href="{% url 'category' %}?category=advanture">advanture</a>
                            <a href="{% url 'category' %}?category=fps">fps</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="fhovercont">
                <h2>Gta 5</h2>
            </div>
        </div>
        <div class="fcard" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
            <img src={%static 'app/img/uncharted-4.jpg' %} alt="">
            <div class="fcarddetails">
                <h2>uncharted 4</h2>
                <div class="tegs2 flex">
                    <div class="teg flex">
                        <i class="fa-solid fa-tv"></i>
                        <h3 class="flex">
                            
                        </h3>
                    </div>
                    <div class="teg flex">
                        <i class="fa-solid fa-tags"></i>
                        <h3 class="flex">
                            <a href="{% url 'category' %}?category=advanture">advanture</a>
                            <a href="{% url 'category' %}?category=fps">fps</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="fhovercont">
                <h2>uncharted 4</h2>
            </div>
        </div>
        <div class="fcard" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
            <img src={%static 'app/img/return of the cars.jpg' %} alt="">
            <div class="fcarddetails">
                <h2>return of the cars</h2>
                <div class="tegs2 flex">
                    <div class="teg flex">
                        <i class="fa-solid fa-tv"></i>
                        <h3 class="flex">
                      
                        </h3>
                    </div>
                    <div class="teg flex">
                        <i class="fa-solid fa-tags"></i>
                        <h3 class="flex">
                            <a href="{% url 'category' %}?category=advanture">advanture</a>
                            <a href="{% url 'category' %}?category=fps">fps</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="fhovercont">
                <h2>return of the cars</h2>
            </div>
        </div>
    </div>
</div>
<div class="blogandnews flex">
    <div class="container">
        <h2>latest&nbsp;<span>& news</span></h2>
        <div class="threecards flex">
            <div class="tcard" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
                <img src={%static 'app/img/blognews1.jpg' %} alt="">
                <div class="tcarddetails">
                    <h3>about space and world</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, magnam?</p>
                    <div class="postby flex">
                        <div class="flex">
                            <i class="fa-brands fa-centercode"></i>
                            <h5>Read Now</h5>
                        </div>
                        <div class="flex">
                            <i class="fa-solid fa-folder-open"></i>
                            <h5>videos</h5>
                        </div>
                    </div>
                    <div class="posttime flex">
                        <i class="fa-regular fa-clock"></i>
                        <h5>September 11, 2023</h5>
                    </div>
                </div>
            </div>
            <div class="tcard" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
                <img src={%static 'app/img/blognews2.jpg' %} alt="">
                <div class="tcarddetails">
                    <h3>new trailer is released!</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, magnam?</p>
                    <div class="postby flex">
                        <div class="flex">
                            <i class="fa-brands fa-centercode"></i>
                            <h5>Read Now</h5>
                        </div>
                        <div class="flex">
                            <i class="fa-solid fa-folder-open"></i>
                            <h5>videos</h5>
                        </div>
                    </div>
                    <div class="posttime flex">
                        <i class="fa-regular fa-clock"></i>
                        <h5>September 09, 2023</h5>
                    </div>
                </div>
            </div>
            <div class="tcard" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
                <img src={%static 'app/img/blognews3.jpg' %} alt="">
                <div class="tcarddetails">
                    <h3>price list of the games</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, magnam?</p>
                    <div class="postby flex">
                        <div class="flex">
                            <i class="fa-brands fa-centercode"></i>
                            <h5>Read Now</h5>
                        </div>
                        <div class="flex">
                            <i class="fa-solid fa-folder-open"></i>
                            <h5>videos</h5>
                        </div>
                    </div>
                    <div class="posttime flex">
                        <i class="fa-regular fa-clock"></i>
                        <h5>September 05, 2023</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="allgamebtn  flex container">
            <a href="{% url 'blog' %}">
                <button>ALL NEWS</button>
            </a>
        </div>
    </div>   
</div>
<div class="newrelesed flex aboutus">
    <div class="container flex">
        <div class="aboutusdetails" data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="linear">
            <div class="newretitle">
                <h2>About the</h2>
                <h2>codex</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, debitis dolorum nostrum laudantium
                odio blanditiis repudiandae autem. Culpa cum numquam voluptates consequatur saepe similique? Ea
                repudiandae quo culpa corporis officiis?</p>
            <div class="flex">
                <a href="/">read more</a>
            </div>
        </div>
        <div class="aboutusimg" data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="linear">
            <img src={%static 'app/img/codingwebstudio.jpg' %} alt="">
        </div>
    </div>
</div>

{%endblock main-content%}